.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    
}

.BuildControl button {
    display: block;
    font: inherit;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: rgb(231, 87, 43);
    color: black;
}

.BuildControl .More {
    background-color: rgb(157, 177, 70);
    color: black;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(212, 36, 36);
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgb(20, 83, 4);
    color: white;
}